variant-calls:
  # Listing of callsets and corresponding paths, representing variant call results
  # from different pipelines or different configurations of the same pipeline.
  # Multiple entries are possible.
  <callset>:
    # Optional labels to describe callset in report. Comment out if not needed.
    # Both labels and values thereof can be freely chosen.
    labels:
      caller: freebayes
      site: University of Duisburg-Essen
    # Optional subcategory for separating callsets in the report. Comment out if not needed.
    subcategory: agilent
    path: <path>
    tumor_sample_name: <tumor-sample-name> # via bcftools query -l <your-vcf>
    # benchmark to use (giab-NA12878-exome or any custom benchmark name provided from below)
    benchmark: giab-na12878-exome
    vaf-field: # needs to be checked with bcftools view -h
      field: FORMAT
      name: AF
    # Set to grch37 if grch37 was used as reference for variant calling, 
    # then a liftover to grch38 will be performed
    genome-build: grch38
    # Set to true if your file needs to be translated from UCSC to Ensembl
    # or point to a file containing contig name replacements
    rename-contigs: false

# Optional custom benchmarks
custom-benchmarks:
  my-custom-benchmark: # custom benchmark name, choose freely (no whitespace allowed)
    # Truth genome to consider (for now only NA12878 allowed, TODO: CHM)
    genome: na12878
    # Path to fastqs with the reads used for variant calling (alternatively, use bam below)
    fastqs:
      - path/to/1.fq
      - path/to/2.fq
    # Path to bam with the reads used for variant calling (alternatively, use fastqs above)
    # If both are given, bam is used.
    # The bam is assumed to be already duplicate-marked, sorted, and indexed.
    bam: path/to/sample.bam
    # Optiona path to bai. If not given, inferred from bam path.
    bai: path/to/sample.bam.bai
    target-regions: path/to/regions.bed
    # whether given target regions are on hg19
    grch37: false

# Optional for testing: limit to first 10000 reads
limit-reads: false

# whether evaluation shall happen on grch37
grch37: false

# maximum number of entries in the FP and FN tables
# (this might be exceeded because each chromosome is always fully included)
max-fp-fn-entries: 300
