__use_yte__: true

__variables__:
  green: "#74c476"
  orange: "#fd8d3c"

name: ?f"Precision/recall analysis of {wildcards.benchmark}"

webview-controls: true
default-view: results-table

datasets:
  results:
    path: ?input.table
    separator: "\t"
    links:
      link to table:
        column: callset
        table-row: results-table/callset

views:
  results-plot:
    dataset: results
    desc: |
      Precision and recall are calculated by matching variants between each callset
      and truth, stratified by coverage categories. The matching ignores genotype
      differences. Instead, genotype mismatches are displayed in the "genotype mismatch rate"
      column of the tabular result representation or in the tooltips shown when hovering
      a point.

      Data points with less than 50 observations for recall (TP + FN) or precision (TP + FP)
      are not shown because estimates are unreliable in such cases.

      Zoom in by scrolling inside of the plot area, pan by dragging, and reset by double-clicking.
    render-plot:
      spec: |
        {
          "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
          "description": "Precision/recall plot for all callsets.",
          "width": 600,
          "height": 600,
          "params": [{
            "name": "grid",
            "select": "interval",
            "bind": "scales"
          }],
          "transform": [
            {
              "filter": "((datum.tp_truth + datum.fn) >= 50) & ((datum.tp_query + datum.fp) >= 50)"
            }
          ],
          "mark": {
            "type": "line",
            "point": true,
            "tooltip": {"content": "data"}, "clip": true
          },
          "encoding": {
            "x": {"field": "recall", "type": "quantitative"},
            "y": {"field": "precision", "type": "quantitative"},
            "color": {
              "field": "callset",
              "type": "nominal",
              "scale": {"scheme": "category20"}
            },
            "order": {"field": "sort_index", "type": "quantitative"},
            "href": {"field": "link to table"}
          }
        }

  results-table:
    dataset: results
    ?if params.vaf:
      desc: |
        Precision and recall are calculated by matching variants between each callset
        and truth, stratified by coverage categories. Stratified by VAF.
        The F*-measure provides a unified assessment of precision and recall with [additional
        interpretability compared to the classical F-measure](https://doi.org/10.1145/3606367).
        It can be seen as the probability that a random variant taken from the union of 
        prediction and truth is predicted correctly.
      page-size: 12
      render-table:
        columns:
          callset:
            plot:
              heatmap:
                scale: ordinal
                color-scheme: category20
          precision:
            precision: 3
            plot:
              ticks:
                scale: linear
          recall:
            precision: 3
            plot:
              ticks:
                scale: linear
          "f*":
            precision: 3
            plot:
              ticks:
                scale: linear
          coverage:
            plot:
              heatmap:
                scale: ordinal
                ?if params.high_coverage:
                  domain:
                    - very_low
                    - low
                    - medium
                    - upper_medium
                    - high
                    - very_high
                  range:
                    - "#d8e6f4"
                    - "#c6dbef"
                    - "#9ecae1"
                    - "#74b2d7"
                    - "#3181bd"
                    - "#1e68a7"
                ?else:
                  domain:
                    - low
                    - medium
                    - high
                  range:
                    - "#c6dbef"
                    - "#9ecae1"
                    - "#6baed6"
          vaf:
            plot:
             heatmap:
                scale: linear
                custom-content:
                  function(value, row) {
                    let lower = value - 0.1;
                    return `${lower.toFixed(1)}..${parseFloat(value).toFixed(1)}`
                  }
                domain:
                  - 0.1
                  - 0.2
                  - 0.3
                  - 0.4
                  - 0.5
                  - 0.6
                  - 0.7
                  - 0.8
                  - 0.9
                  - 1.0
                range:
                  - "#c0e6baff"
                  - "#abdda5ff"
                  - "#94d391ff"
                  - "#7bc77dff"
                  - "#60ba6cff"
                  - "#46ab5eff"
                  - "#329a51ff"
                  - "#208943ff"
                  - "#0e7735ff"
                  - "#1a833fff"
    ?else:
      desc: |
        Precision and recall are calculated by matching variants between each callset
        and truth, stratified by coverage categories. The matching ignores genotype
        differences. Instead, genotype mismatches are displayed in the "genotype mismatch rate"
        column.
        The F*-measure provides a unified assessment of precision and recall with [additional
        interpretability compared to the classical F-measure](https://doi.org/10.1145/3606367).
        It can be seen as the probability that a random variant taken from the union of 
        prediction and truth is predicted correctly.
      page-size: 12
      render-table:
        columns:
          callset:
            plot:
              heatmap:
                scale: ordinal
                color-scheme: category20
          precision:
            precision: 3
            plot:
              ticks:
                scale: linear
          recall:
            precision: 3
            plot:
              ticks:
                scale: linear
          genotype_mismatch_rate:
            ?if params.somatic:
              display-mode: hidden
            ?else:
              display-mode: normal
            precision: 3
            plot:
              ticks:
                scale: linear
          "f*":
            precision: 3
            plot:
              ticks:
                scale: linear
          coverage:
            plot:
              heatmap:
                scale: ordinal
                ?if params.high_coverage:
                  domain:
                    - very_low
                    - low
                    - medium
                    - upper_medium
                    - high
                    - very_high
                  range:
                    - "#d8e6f4"
                    - "#c6dbef"
                    - "#9ecae1"
                    - "#74b2d7"
                    - "#3181bd"
                    - "#1e68a7"
                ?else:
                  domain:
                    - low
                    - medium
                    - high
                  range:
                    - "#c6dbef"
                    - "#9ecae1"
                    - "#6baed6"